{% extends 'movies_base.html' %}
{% block movies %}
    {#    <h2>Регистрация</h2>#}
    {% if request.method == 'POST' %}
        <p>POST</p>
    {% endif %}



    {#    <form action="" method="post">#}
    {#        {% csrf_token %}#}
    {#        <table>#}
    {#            {% for field in form %}#}
    {#                <tr>#}
    {#                    <th>{{ field.label_tag }}</th>#}
    {#                    <td>{{ field }}#}
    {#                        {% for error in errors %}#}
    {#                            <p>{{error}}</p>#}
    {#                        {% endfor %}#}
    {#                    </td>#}
    {#                </tr>#}
    {#            {% endfor %}#}
    {#        </table>#}
    {#        <input type="submit" value="ok">#}
    {#    </form>#}

    <div class="auth">
        <h2>Регистрация</h2>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="ok">
        </form>
    </div>
{% endblock %}